*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1200px;
    margin: auto;
    .navbar
    {
        padding: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 25px;
        }
        div{
            display: flex;
            gap: 45px;
            align-items: center;
            button{
                padding: 20px 40px;
                background-color: rgba(96, 138, 245, 1);
                color: white;
                font-size: 25px;
                font-weight: 600;
                border-radius: 10px;
                border: none;
            }
        }
    }
    section{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .inBox1
        {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            p{
                font-size: 30px;
            }
            h1{
                font-size: 50px;
                color: rgba(0, 34, 101, 1);
            }
        }
    }
}
.iconMenu
{
    display: none;
}
@media (max-width:510px)
{
    .iconMenu
    {
        display: block;
        width: 24px;
    }
    header .navbar div{
        display: none;
    }
    header
    {
        width: 90%;
        margin: auto;
    }
}