*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1200px;
    margin: auto;
    .navbar
    {
        padding: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 25px;
        }
        div{
            display: flex;
            gap: 45px;
            align-items: center;
            button{
                padding: 20px 40px;
                background-color: rgba(96, 138, 245, 1);
                color: white;
                font-size: 25px;
                font-weight: 600;
                border-radius: 10px;
                border: none;
            }
        }
    }
}