*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    max-width: 1200px;
    margin: auto;
    .navbar
    {
        padding: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            font-size: 25px;
        }
        div{
            display: flex;
            gap: 45px;
            align-items: center;
            button{
                padding: 20px 40px;
                background-color: rgba(96, 138, 245, 1);
                color: white;
                font-size: 25px;
                font-weight: 600;
                border-radius: 10px;
                border: none;
            }
        }
    }
    section{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        .inBox1
        {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            p{
                font-size: 30px;
            }
            h1{
                font-size: 50px;
                color: rgba(0, 34, 101, 1);
            }
        }
    }
    .box1{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 100px;
        h1{
            text-align: center;
        }
        .cards
        {
            display: flex;
            justify-content: space-between;
            div{
                width: 300px;
                padding: 30px;
                border-radius: 13px;
                box-shadow: 0px 5px 26px 5px rgba(0, 0, 0, 0.17);
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    font-size: 25px;
                }
            }
        }
    }
    .box2{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
        margin-top: 100px;
        h1{
            text-align: center;
        }
        .cards
        {
            display: flex;
            justify-content: space-between;
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h1{
                    font-size: 30px;
                    text-align: center;
                }
                .img2
                {
                    position: absolute;
                }
            }
        }
    }
    .img4
    {
        width: 100%;
        position: relative;
        left: 0px;
    }
}
.iconMenu
{
    display: none;
}
@media (max-width:510px)
{
    .iconMenu
    {
        display: block;
        width: 24px;
    }
    header .navbar div{
        display: none;
    }
    header
    {
        width: 90%;
        margin: auto;
    }
    section{
        flex-direction: column-reverse;
    }
    .cards
    {
        flex-direction: column;
        row-gap: 20px;
    }
    .img4
    {
        width: 100%;
    }
}